.basketelement {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 19px;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 20px;
    &__image {
        max-width: 100px;
        max-height: 100px;
        border-radius: 5px;
    }
    &__name-container {
        width: 100%;
        margin: 0 20px 0 10px;
        border-bottom: 1px solid rgb(128, 128, 128, 0.5);
    }
    &__name {
        margin: 0;
    }
    &__info-container {
        display: flex;
        margin-top: 20px;
    }
    &__info {
        margin: 0;
    }
    &__buttons-container {
        display: flex;
        align-items: center;
        background-color: #f5f4f2;
        border-radius: 15px;
    }
    &__button {
        width: 32px;
        height: 32px;
        background-color: #f5f4f2;
        border: none;
        border-radius: 15px;
        cursor: pointer;
    }
}
