.product__button-buy {
    font-family: Inter;
    font-weight: 500;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #f5f4f2;
    border: 1px solid #f5f4f2;
}
