html {
  scroll-behavior: smooth;
}
.header {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: min-content 1fr;
  font-family: Inter;
  text-decoration: none;
  color: var(--orange-main);
  background-color: #292929;
  border-radius: 20px 20px 0 20px;
  position: relative;
  &__logo {
    grid-column-start: 1;
    grid-column-end: 2;
    max-width: 100px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  &__title {
    grid-column-start: 2;
    margin: 0;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
    border: 2px solid var(--orange-main);
    border-radius: 20px 20px 20px 0;
    border-top: none;
    font-family: Lobster;
    font-size: 35px;
    font-weight: 400;
  }
  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-row-start: 1;
    grid-column-start: 2;
    align-items: unset;
    align-self: flex-start;
    justify-self: center;
    font-weight: 500;
    font-size: 19px;
    padding: 0 20px;
    box-sizing: border-box;
  }
  &__navigation-element {
    color: var(--orange-main);
    text-decoration: none;
    border: 2px solid var(--orange-main);
    width: fit-content;
    border-top: none;
    border-radius: 0 0 10px 10px;
    padding: 0 6px;
    height: fit-content;
  }
  &__basket-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__basket-button-container {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__basket-button {
    width: 10%;
    font-family: Inter;
    font-size: 19px;
    background-color: transparent;
    border: solid;
    border-radius: 0 0 5px 5px;
    display: flex;
    padding: 0;
    border: 2px solid var(--orange-main);
    padding: 5px;
    background-color: var(--orange-main);
  }
  &__basket-image {
    display: block;

    background-size: contain;
    width: 30px;
    height: 25px;
    background-image: url(../../../shared/images/corsinamain.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
  }
  &__basket-sum {
    text-wrap: nowrap;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
