.modal {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.2s linear;
    visibility: hidden;
    width: 100%;
    z-index: 2;
    &_active {
        opacity: 1;
        visibility: visible;
    }
    &__container {
        min-width: 400px;
        max-width: 800px;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    &__button-close {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 101%;
        top: -45px;
        background-image: url(../images/Close-Icon.svg);
        background-color: rgb(0, 0, 0, 0);
        border: none;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 650px) {
    .modal__container {
    }
}

@media screen and (max-width: 650px) {
    .modal__button-close {
        left: 101%;
        bottom: 346px;
        max-width: 20px;
        max-height: 20px;
        background-image: url(../images/Close-Icon-mobile.svg);
    }
}
